@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h2>Please, choose wisely</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tr>
                <td>Name</td>
                <td>Author</td>
                <td>Pages</td>
                <td>Price</td>
                <td></td>
            </tr>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Name</td>
                    <td>@book.Author</td>
                    <td>@book.Pages</td>
                    <td>@book.Price</td>
                    <td><a href="/Home/Buy/@book.Books_Id">Buy</a></td>
                </tr>
            }
        </table>
    </div>
</div>

